<section class="visible-md visible-lg">
  <hr>
  <span class="meta-info">
   <span class="octicon octicon-mail"></span>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">联系方式</a></h5>
  </span>
  <div class="short-about">
    {% if site.sidebar-avatar %}
    <!-- <img src="{{site.sidebar-avatar}}" />-->
    {% endif %}
    {% if site.sidebar-about-description %}
    <p>{{site.sidebar-about-description}}</p>
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
</section>
